:root {
    --color-bg-html: #121417;
    --color-bg-body: #17191d;
    --color-border-h1: #272a2d;
    --color-heading: #b5bfc7;
    --color-text: #959aa0;
    --color-code-text: #cfbaaf;
    --color-code-bg: #272629;
    --color-link: #59e;
    --color-link-code-bg: #202937;
    --color-shadow: #121417;
    --color-pre-bg: #222529;
    --color-pre-border: #444;
    --color-pre-code-text: #bbb;
    --color-table-border: #26292f;
    --color-bq-code-text: #ddccbb;
    --color-bq-code-bg: #35373f;
    --color-bq-bg: #1a1f27;
    --color-bq-border: #202d45;
    --color-bq-text: #a7bac8;
    --color-bq-heading: #b5bfc7;
    --color-bq-link: #5af;
    --color-bq-link-code-bg: #2d374a;
    --color-bq-table-border: #29324a;
    --color-bq-shadow: #1a1c1f;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-bg-html: #ebe8e5;
        --color-bg-body: #f9f6f3;
        --color-border-h1: #e2e4e7;
        --color-heading: #3d4249;
        --color-text: #5b6067;
        --color-code-text: #7a5c4a;
        --color-code-bg: #f0ece7;
        --color-link: #2266cc;
        --color-link-code-bg: #e6edf7;
        --color-shadow: #f3edea;
        --color-pre-bg: #f9efeb;
        --color-pre-border: #dac5b6;
        --color-pre-code-text: #55504d;
        --color-table-border: #e0dddb;
        --color-bq-code-text: #6b4a2f;
        --color-bq-code-bg: #eae6da;
        --color-bq-bg: #eef2f7;
        --color-bq-border: #b7c6e0;
        --color-bq-text: #34497e;
        --color-bq-heading: #3d4879;
        --color-bq-link: #1a5fb4;
        --color-bq-link-code-bg: #dbe6f5;
        --color-bq-table-border: #d6daef;
        --color-bq-shadow: #e2e8f5;
    }
}

html {
    background: var(--color-bg-html);
    height: 100%;
}

body {
    background: var(--color-bg-body);
    max-width: 800px;
    padding: 0 25px 150px 25px;
    padding-inline: clamp(25px, 5.5cqw, 60px);
    border: 1px solid var(--color-bg-body);
    margin: 0 auto;
    box-sizing: border-box;
    min-height: 100%;
}

h1 {
    padding-bottom: 12px;
    border-bottom: 2px solid var(--color-border-h1);
}

pre, code, pre * {
    font-size: 13px;
    border-radius: 0.4em;
}

h1, h2, h3, h4, th {
    font-family: Publico Text, Produkt, Charter, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 300;
    font-weight: 300;
    color: var(--color-heading);
    code {
        font-size: 0.9em;
    padding: 0.2em 0.35em;
    }
}

p, blockquote, a, td {
    font-family: Optima, Helvetica Neueu, Arial, sans-serif;
    line-height: 1.4em;
    font-size: 16px;
    font-weight: thin;
    color: var(--color-text);
}

code {
    color: var(--color-code-text);
    background: var(--color-code-bg);
    font-weight: unset;
    font-style: unset;
}

a, a code {
    color: var(--color-link);
}

a code {
    background: var(--color-link-code-bg);
}

pre {
    background: var(--color-pre-bg);
    border-radius: 10px;
    box-shadow: 0 0 5px 2px var(--color-shadow);
    border: 1px solid var(--color-pre-border);
    margin: 20px -16px;
    padding: 12px 16px;
    width: calc(100% + 32px);
}

pre code, blockquote pre code {
    background: none;
    color: var(--color-pre-code-text);
}

table {
    border: 1px solid var(--color-table-border) !important;
    box-shadow: 0 0 5px 2px var(--color-shadow);
    border-radius: 10px;
    padding: 5px 16px;
    margin: 20px -16px;
    width: calc(100% + 32px);
}

tr, td {
    border: none !important;
}

th {
    text-align: left;
    border: none !important;
    padding: 4px 40px 4px 0 !important;
}

td {
    padding: 14px 40px 5px 0 !important;
}

td:last-child, th:last-child {
    padding-right: 0 !important;
}

blockquote code {
    color: var(--color-bq-code-text);
    background: var(--color-bq-code-bg);
}

blockquote {
    background: var(--color-bq-bg);
    border-radius: 15px;
    box-shadow: 0 0 5px 2px var(--color-shadow);
    border: 1px solid var(--color-bq-border);
    border-left-width: 7px;
    padding: 15px;
    margin: 20px -22px;
    h1, h2, h3, h4, th {
        color: var(--color-bq-heading);
    }
}

blockquote p, blockquote td {
    color: var(--color-bq-text);
}

blockquote a, blockquote a code {
    color: var(--color-bq-link);
}

blockquote a code {
    background: var(--color-bq-link-code-bg);
}

blockquote table {
    border: 1px solid var(--color-bq-table-border) !important;
}

blockquote table, blockquote pre {
    box-shadow: 0 0 5px 2px var(--color-bq-shadow);
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
