:root {
    --font-heading: Helvetica Neue, Helvetica, sans-serif;
    --font-weight-heading: 500;
    --font-text: Lucida, system-ui, Arial, sans-serif;
    --font-size-text: 15px;
    --line-height-text: 1.5em;
    --color-bg-html: #101214;
    --color-bg-body: #17191c;
    --color-shadow-body: #091113;
    --color-border-h1: #272a2d;
    --color-heading: #b5bfc7;
    --color-text: #a0a6ab;
    --color-bold: #c5cad0;
    --color-code-text: #d5b59f;
    --color-code-bg: #262320;
    --color-link: #59e;
    --color-link-code-bg: #202937;
    --color-shadow: #101317;
    --color-pre-bg: #222529;
    --color-pre-outline: #000;
    --color-pre-border: #444;
    --color-pre-code-text: #bbb;
    --color-table-outline: #000;
    --color-table-border: #363a3d;
    --color-table-separator: #2a2d2f;
    --color-bq-code-text: #d9baa7;
    --color-bq-code-bg: #2e2b29;
    --color-bq-bg: #181f2d;
    --color-bq-border: #2a3653;
    --color-bq-text: #a3b7c8;
    --color-bq-heading: #8da5c7;
    --color-bq-link: #5af;
    --color-bq-link-code-bg: #242d42;
    --color-bq-table-outline: #000;
    --color-bq-table-border: #313f5b;
    --color-bq-table-separator: #202d3d;
    --color-bq-shadow: #1a1c1f;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-bg-html: #eaecef;
        --color-bg-body: #f8fbfd;
        --color-shadow-body: #e0e1e3;
        --color-border-h1: #e2e4e7;
        --color-heading: #4d5259;
        --color-text: #5b6067;
        --color-bold: #505458;
        --color-code-text: #7a5c4a;
        --color-code-bg: #f0ece7;
        --color-link: #3377dd;
        --color-link-code-bg: #e6edf7;
        --color-shadow: #eaedef;
        --color-pre-bg: #f1f4f6;
        --color-pre-outline: #d3d7e0;
        --color-pre-border: #fff;
        --color-pre-code-text: #55504d;
        --color-table-outline: #e0e2e5;
        --color-table-border: #ffffff;
        --color-table-separator: #e8eaee;
        --color-bq-code-text: #6b4a2f;
        --color-bq-code-bg: #eae6da;
        --color-bq-bg: #eff5fc;
        --color-bq-border: #c7d6f1;
        --color-bq-text: #34508a;
        --color-bq-heading: #3d5596;
        --color-bq-link: #1a5fb4;
        --color-bq-link-code-bg: #dbe6f5;
        --color-bq-table-outline: #cdd8f3;
        --color-bq-table-border: #fff;
        --color-bq-table-separator: #dadfff;
        --color-bq-shadow: #deeaf3;
    }
}

html {
    background: var(--color-bg-html);
    height: 100%;
}

body {
    background: var(--color-bg-body);
    max-width: 1137px;
    padding: 0 25px 150px 25px;
    padding-inline: clamp(25px, 5.5cqw, 60px);
    border: 1px solid var(--color-bg-body);
    margin: 0 auto;
    box-sizing: border-box;
    min-height: 100%;
    box-shadow: 0 0 35px 10px var(--color-shadow-body);
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-border-h1);
}

h2 {
    font-size: 27px;
    margin-top: 45px;
    margin-bottom: 18px;
}

h3 {
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
}

h4 {
    font-size: 17px;
    margin-top: 12px;
    margin-bottom: 5px;
}

p {
    margin: 15px 0 15px 0;
}

pre, table, blockquote {
    margin: 24px -16px 32px -16px;
    box-shadow: 0 2px 4px 1px var(--color-shadow);
}

ul {
    margin: 0 0 20px 0;
}

li {
    margin: 6px 0 7px 0;
}

li table, li pre, li blockquote {
    margin-inline: 0;
    width: calc(100% + 16px);
}

pre, code, pre * {
    font-size: 14px;
    border-radius: 0.4em;
}

h1, h2, h3, h4 {
    font-family: var(--font-heading);
    font-weight: var(--font-weight-heading);
    color: var(--color-heading);

    code {
        font-size: 0.9em;
        padding: 0.2em 0.35em;
    }
}

p, blockquote, a, td, li, th {
    font-family: var(--font-text);
    line-height: var(--line-height-text);
    font-size: var(--font-size-text);
    color: var(--color-text);
}

b, strong, th {
    color: var(--color-bold);
}

code {
    color: var(--color-code-text);
    background: var(--color-code-bg);
    font-weight: unset;
    font-style: unset;
}

a, a code {
    color: var(--color-link);
}

a code {
    background: var(--color-link-code-bg);
}

pre {
    line-height: 1.6em;
    background: var(--color-pre-bg);
    border-radius: 10px;
    outline: 1px solid var(--color-pre-outline);
    border: 1px solid var(--color-pre-border);
    padding: 12px 4px 12px 16px;
    width: calc(100% + 32px);
}

pre code, blockquote pre code {
    background: none;
    color: var(--color-pre-code-text);
}

table {
    outline: 1px solid var(--color-table-outline);
    border: 1px solid var(--color-table-border) !important;
    border-radius: 10px;
    width: calc(100% + 32px);
    display: table !important;
    table-layout: auto !important;
    border-collapse: separate !important;
}

tr, th, td {
    border: none !important;
    text-align: left;
    padding: 9px 0 10px 16px !important;
}

th {
    padding: 4px 0 5px 16px !important;
}

tr:last-of-type td {
    padding-bottom: 11px !important;
}

td:last-of-type, th:last-of-type {
    padding-right: 5px !important;
}

td {
    border-top: 1px solid var(--color-table-separator) !important;
}

blockquote code {
    color: var(--color-bq-code-text);
    background: var(--color-bq-code-bg);
}

blockquote {
    background: var(--color-bq-bg);
    border-radius: 10px;
    border: 1px solid var(--color-bq-border);
    border-left-width: 7px;
    padding: 16px 18px;
    margin-left: -24px;

    h1, h2, h3, h4, th {
        color: var(--color-bq-heading);
    }
}

blockquote p, blockquote td {
    color: var(--color-bq-text);
}

blockquote a, blockquote a code {
    color: var(--color-bq-link);
}

blockquote a code {
    background: var(--color-bq-link-code-bg);
}

blockquote table {
    border-color: var(--color-bq-table-border) !important;
    outline-color: var(--color-bq-table-outline);
}

blockquote table, blockquote pre, blockquote blockquote {
    box-shadow: 0 0 5px 2px var(--color-bq-shadow);
    width: 100%;
    margin-inline: 0;
}

blockquote td {
    border-color: var(--color-bq-table-separator) !important;
}

blockquote thead:first-of-type td:last-of-type {
    border: none !important; /* weird dangling td in thead bug */
}

hr {
    border-top: 1px solid var(--color-table-outline);
    margin: 50px 0;
}
